@using Gumburger.Domain.Enums;
@using Gumburger.Application.Models.DTOs;

@model ExtraDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@{
    List<Status> statuses = Enum.GetValues(typeof(Status)).Cast<Status>().ToList();
}


<div class="row flex-column container ps-5">
    <h1>Edit</h1>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <form asp-action="EditExtra" asp-controller="Admin">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="ExtraName" class="control-label"></label>
                    <input asp-for="ExtraName" class="form-control" />
                    <span asp-validation-for="ExtraName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ExtraPrice" class="control-label"></label>
                    <input value="@Model.ExtraPrice" asp-for="ExtraPrice" class="form-control" required />
                    <span asp-validation-for="ExtraPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select name="Status" class="form-select" data-MenuStatus="@Model.Status">
                        @foreach (var status in statuses)
                        {
                            if (status == Model.Status)
                            {
                                <option selected value="@status">@status</option>
                            }
                            else
                            {
                                <option value="@status">@status</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <img src="@Model.ExtraImageUrl" alt="category-item-picture">
                </div>

                @* <div class="form-group">
                    @* <label asp-for="MenuImagePath" class="control-label"></label>
                    <input asp-for="MenuImagePath" class="form-control" />
                    <span asp-validation-for="MenuImagePath" class="text-danger"></span> *@
                @* <a asp-action="UploadPicture" asp-controller="Admin" asp-route-MenuId="@Model.Id">
                        <button class="btn btn-dark btn-sm d-inline-flex m-3">Upload Picture</button>
                    </a> <a asp-action="DeletePicture" asp-controller="Admin" asp-route-MenuId="@Model.Id">
                        <button class="btn btn-secondary btn-sm d-inline-flex m-3">Delete Picture</button>
                    </a>
                </div> *@ 





                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary m-3" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Extras">Back to List</a>
    </div>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
